<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maker's Club</title>
    <link href="../style.css" rel="stylesheet">
</head>

<body>
{% include 'header.njk' %}
    <div id="page">
<div id="projects">
        <h1 id="projects-title">Our Achievements</h1>
            <div class="projects-grid">
          {%- for achievement in collections.achievements | limit(3) | reverse -%}
         <div class="project-card">
         <div class="project-content">
            <a href="{{achievement.url}}"><h3>{{ achievement.data.title }}</h3></a>
           <p>{{achievement.data.description}}
           </p>
          </div>
       </div>
          {%- endfor -%}
     </div>
 
    </div>
    </div>
        {% include 'footer.njk' %}
</body>
</html>



<!--
<ul>
{%- for achievement in collections.achievements -%}
  <li><a href="{{achievement.url}}">{{ achievement.data.title }}</a></li>
{%- endfor -%}
</ul>
-->