<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maker's Club</title>
    <link href="../style.css" rel="stylesheet">
</head>

<body>
{% include 'header.njk' %}
    <div id="page">
<div id="Projects">
        <h1 id="projects-title">Our Achievements</h1>
             <div class="projects-grid">
{%- for achievement in collections.achievements -%}
         <div class="project-card">
         <div class="project-content">
            <a href="{{achievement.url}}"><h3>{{ achievement.data.title }}</h3></a>
           <p>{{achievement.data.description}}</p>
           <p>{{achievement.data.date}}</p>
          </div>
       </div>
  {%- endfor -%}
     </div>
 
    </div>
    </div>
</body>
</html>



<!--
<ul>
{%- for event in collections.events -%}
  <li><a href="{{event.url}}">{{ event.data.title }}</a></li>
{%- endfor -%}
</ul>
-->
