<body>
        <header>
    <ul>
        <a href="/index.html"><li id="Title">Maker's Club</li></a>
        <li></li>
        <li></li>
        <li class="Pages"><a href="allevents/index.html">Events</a></li>
        <li class="Pages"><a href="allarticles/index.html">Projects</a></li>
        <li class="Pages"><a href="about/index.html">About</a></li>
        <li class="Pages"><a>Achievements</a></li>
    </ul>
</header>
