<body>
        <header>
    <ul>
        <a href="/index.html"><li id="Title">Maker's Club</li></a>
        <li></li>
        <li></li>
        <li class="Pages">Events</li>
        <li class="Pages">Projects</li>
        <li class="Pages">About</li>
        <li class="Pages">Achievements</li>
    </ul>
</header>